.form
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form div
{
    margin-bottom: 20px;    

}
.inputsy
{
    display: flex;
    flex-direction: column;    
}
.inputsy label
{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
.inputsy input
{
    border-radius: 20px;
    border: 1px solid #f8f9f9;
    box-shadow: 3px 3px 5px rgb(210 210 210);
    width: 100%;
    height: 25px;
}