.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    &__menu{
    &__ul{
    display: flex;
    flex-direction: row; 
    width: 100%;   
    &__li
    {
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
    }
    }
    }
    &__mon-panier
    {
    margin-right: 50px;
    }
}
.navbar__logo img
{
    width: 100px;
}
.navbar__menu__ul__li a
{
   text-decoration: none;
   color: black;
}
.navbar__menu__2
{
    display: none;
}
@media (min-width:872px)
{
    .navbar__menu__ul
    {
        padding-left: 0;
    }
    
}
@media (max-width:871px) 
{
.navbar
{

&__menu__ul
{
    display: none;
}
}  
.navbar__menu__2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__b
    {
        margin-right: 10px;
        transform: scaleY(0);
        transition-duration: 1000ms;
        transform-origin: 50% 0%;
        border-right: 1px solid $primary-color;
        border-left: 1px solid $primary-color;
        padding-right: 36px;
    }  
}
.navbar__menu__2__a:hover +.navbar__menu__2__b
{
    transform: scaleY(1);
}
.navbar__menu__2__b:hover
{
    transform: scaleY(1);
}
.navbar__menu__2__ul li
{
    transform: scale(1);
    transition-duration: 500ms;
    transform-origin: 50% 50%;
    margin-bottom: 8px;
}
.navbar__menu__2__ul li:hover
{
    transform: scale(1.2);
}
}
@media (max-width:630px)
{
    .navbar__menu
    {
        width: 16%;
    }
}
