.camera
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    
}

.bund
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgb(210 210 210);
    border-radius: 20px;
    margin-bottom: 50px;
    &__imgSection img
    {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    &__legend
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__p
    {
        width: 40%;
        margin-left: 10px;
    }
    }
}
.container
{
    padding: 0;
    border-left: 1px solid #339CFF;
    border-right: 1px solid #339CFF;
}
//Page produit

#produit
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: $primary-color;
    &__img
    {
        width:60%;
        
        margin-left: 20%;
        margin-right: 20%;
    }
}
.produit__text
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.produit__text div
{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.produit__img img
{
    width:100%;
    margin-top: 0;
}

.produit div
{
    margin-bottom: 20px;
    margin-top: 20px;
}

// recapitulatif

.recap
{
    width: 80%;
    margin: 10%;
    border: 1px solid $primary-color;
    background-color: $primary-color;
}
.recap h4
{
    text-align: center;
    margin-bottom: 50px;
}
.mesproduits
{
    border-bottom: 1px solid black;
}
.macommande
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.element
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    box-shadow: 3px 3px 5px rgb(210 210 210);
    padding: 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    &__nom
    {
        margin-right: 40px;
    }
    &__prix
    {
        margin-left: 40px;
        margin-right: 10px;
    }
}
// Recapfinal

.recap-final 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    &__numcom
    {
        border: 1px solid white;
        background-color: white;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 30px;
        margin-bottom: 30px;    
        &__two
    {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        background-color: white;
        border: 1px solid white;
    }
    } 

}
.recap-final__numcom h5
{
    text-align: center;
}
.recap-final__numcom h4
{
    margin-left: 30px;
}
.recap-final h5
{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}